.flow{
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
    padding: 30px;
    
}

.individual{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 400px;
}

.individual img{
    transition: transform 0.3s ease;
    height: 80px;
}

.individual img:hover{
    transform: scale(1.15);
}

.individual h3:hover{
    text-decoration: underline;
    cursor: pointer;
}

.button{
    margin: 0 10px;
}

