.card{
    height: 300px;
    width: 500px;
    background-color: aqua;
    display: block;
    line-height: 30px;
}

.card h3{
    font-weight:normal;
}

.card p{
    font-weight: bolder;
}

.card p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.card img{
    height: 100%;
    width: 100%;
}

.striper{
    display: flex;
    width: 1300px;
    gap:20px;
    padding-left: 80px;
    padding-top: 50px;
    margin-top: -90px;
}