
.head{
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid black;
}

.header{
    padding: 20px 100px;
    display: flex;
    justify-content:flex-start;
    gap:32px;
}
.header img{
   height: 25px;
   width: 55px;
}
.header p{
    margin-top: 2px;
    color: #666;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
}

.header p:hover{
   color: #4c4c4c;
   cursor: pointer;
}

#searchIcon{
    margin-right: 120px;
    margin-top: 20px;
    font-size: 10px;
}